{{#if @koa.state.user}}
<nav class="pure-menu pure-menu-horizontal drop-shadow">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link logo-container"></a></li>
        <li class="pure-menu-item {{#contains @koa.request.url '/reports'}} pure-menu-active {{/contains}}"><a href="/reports" class="pure-menu-link">Reports</a></li>
        <!-- Analysis not needed for now -->
        <!-- <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">analysis</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">TBC</a></li>
            </ul>
        </li> -->
        {{#if @koa.state.user.isAdmin}}
        <li class="pure-menu-item {{#contains @koa.request.url '/users'}} pure-menu-active {{/contains}}"><a href="/users" class="pure-menu-link">Users</a></li>
        <li class="pure-menu-item {{#contains @koa.request.url '/resources'}} pure-menu-active {{/contains}}"><a href="/resources" class="pure-menu-link">Resources</a></li>
        {{/if}}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"><a href="#" class="pure-menu-link">Submit</a>
            <ul class="pure-menu-children">
                {{#each @koa.state.user.projects}}
                <li class="pure-menu-item"><a href="{{this}}" class="pure-menu-link">{{@key}}</a></li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <ul class="pure-menu-list float-right">
        <li class="pure-menu-item"><a href="//docs.google.com/forms/d/e/1FAIpQLSdnwFGyplSSeIT6JTp8LzDis54t8ccH-sD-QMZEi9aORjZWAw/viewform" target="_blank" class="pure-menu-link" title="submit user feedback">[feedback]</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">{{@koa.state.user.name}}</a></li>
        <li class="pure-menu-item notifications fa fa-bell"><div class="counter"></div></li>
        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
    </ul>
</nav>
{{else}}
<nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link logo-container"></a></li>
        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
    </ul>
</nav>
{{/if}}
