
<!doctype html>
<html lang="en">
<head>
    <title>Upload Evidence</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/report.css">
    <script defer src="/js/sms/evidence.js"></script>
</head>
<body>

<header>
    <nav class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list  text-center">
            <li class="pure-menu-item"><h3>HFRN Evidence Upload</h3></li>
        </ul>
        <ul class="pure-menu-list float-right">
            <li class="pure-menu-item">
                <img src="/img/logo-32.png">
            </li>
        </ul>
        </nav>
</header>

<main>
    <form id="evidenceForm" method="post" enctype="multipart/form-data" class="pure-form" onsubmit="return submitEvidence()">
        <ul class="question-document">
            <li>
                <label>
                    <p><strong>Please upload any evidence that could help.</strong> This can be photos, videos or any other documents.</p>
                </label>
                <input type="file" name="documents" id="files" value="0" class="upload-file" multiple>
                <div id="errorMessage"></div>
            </li>
        </ul>
        <div class="text-center">
            <button id="submitBtn" type="submit" name="nav-next" value="next" accesskey="c" class="pure-button pure-button-primary">Submit evidence</button>
        </div>
        <p class="not-working">Form not working? Let us know
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfOQAPHzHGw2e9LfxRZPVzxi8YKVbQnWpqX_Dnf7MA85dZJyA/viewform?ts=5a7f42b3" target="_blank"><b>here</b></a>
        </p>
            
    </form>

</main>

</body>
</html>
