<!doctype html>
<html lang="en">
<head>
    <title>Upload Timeout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/report.css">
</head>
<body>

<header>
    <nav class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list  text-center">
            <li class="pure-menu-item"><h3>Evidence Upload</h3></li>
        </ul>
        <ul class="pure-menu-list float-right">
            <li class="pure-menu-item">
                <img src="/img/logo-32.png">
            </li>
        </ul>
        </nav>
</header>

<main>
    <h1 class="banner ">✘ This link has expired</h1>
    <p>You must submit evidence within a week of completing the report questions.</p>
    <p>If you require any help, please call XXXXX</p>
</main>

</body>
</html>