<!doctype html>
<html lang="en">
<head>
    <title>Evidence Submitted</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/report.css">
</head>
<body>

<header>
    <nav class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list  text-center">
            <li class="pure-menu-item"><h3>HFRN Evidence Upload</h3></li>
        </ul>
        <ul class="pure-menu-list float-right">
            <li class="pure-menu-item">
                <img src="/img/logo-32.png">
            </li>
        </ul>
        </nav>
</header>

<main>
    <h1 class="banner ">✔ We’ve received your evidence</h1>
    You have just submitted the following files:
    <ul>
        {{ files }}
    </ul>
    <p class="not-working">Form not working? Let us know
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfOQAPHzHGw2e9LfxRZPVzxi8YKVbQnWpqX_Dnf7MA85dZJyA/viewform?ts=5a7f42b3" target="_blank"><b>here</b></a>
    </p>
</main>

</body>
</html>
