.env
static/*
!static/map/
static/map/*
!static/map/marker-blue.png
!static/map/marker-blue-outline.png
!static/map/marker-red.png
!static/map/marker-red-outline.png
node_modules
package-lock.json
/cypress/
/coverage/
/.nyc_output/
.vscode/
.DS_Store
