ul.accordion {
    list-style: none;
    padding-left: 0;
}

ul.accordion li {
    margin-bottom: 1px;
    width: 100%;
}

ul.accordion input {
    display: none;
}

ul.accordion label {
    color: #ffffff;
    position: relative;
    display: block;
    padding-left: 1em;
    background: #406591;
    line-height: 2;
    cursor: pointer;
}

ul.accordion input + label ~ * {
    display: none;
    transition: all 0.35s;
}

ul.accordion input:checked ~ * {
    display: inherit;
    transition: all 0.35s;
}

ul.accordion label::after {
    content: '\25BC';
    position: absolute;
    right: 0;
    margin-right: 1em;
}

ul.accordion input:checked + label::after {
    transform: rotateX(180deg);
}

/* Accordion style 2 */

/**
  REFERENCE: https://jsfiddle.net/csswizardry/e9Lt5p4b/
*/

.accordion-2 {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.accordion-item {
    padding: 0 !important;
}

.accordion-item:last-of-type {
    border-bottom: none;
}

/**
 * The label element which triggers the open/close.
 */
.accordion-trigger {
    display: block;
    background-color: #fafbfd;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid #f0f3f4;
    position: relative;
}

.accordion-trigger::after {
  content: 'expand';
  margin-right: 0;
  position: absolute;
  font-weight: bold;
  font-size: 0.8em;
  right: 10px;
  top: 10px;
  display: block;
  text-decoration: underline;
  color: #75afe9;
  /* width: 3em; */
  /* height: 3em; */
  line-height: 2.5;
  text-align: center;
  transition: all 0.35s;
}

.accordion-toggle:checked + .accordion-trigger::after {
    /* transform: rotateX(180deg); */
    /*transform: rotate(90deg);*/
    content: 'close';
}

/**
 * The radio/checkbox element needs to always be hidden.
 */
.accordion-toggle {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Hide the accordion content.
 */
.accordion-target {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: #fafbfd;
}

/**
 * When the radio/checkbox is checked, show the accordion content.
 */
.accordion-toggle:checked ~ .accordion-target {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: auto;
    clip: auto;
    padding: 1.5rem;
}

.accordion-trigger:hover {
    background-color: #f0f3f4;
}
