/*
Following css styles are for quick UI changes and they must be optimised
*/


ul.accordion label {
    color: #6d6d6d;
    position: relative;
    display: block;
    padding-left: 1em;
    background: rgb(250, 251, 253);
    line-height: 4;
    cursor: inherit;
    border: 0;
    border-bottom: 1px solid #F0F3F4;
}

ul.accordion table, ul.accordion p {
    padding:5px 10px;
    display: block;
}

ul.accordion li:last-child:not(:nth-child(even)){
    width: 95.5%;
}

ul.accordion li {
    margin-bottom: 1px;
    width: 46.5%;
    float: left;
    min-height: 196px;
    margin: 15px;
    border: 1px solid #F0F3F4;
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
}

ul.accordion label::after {
    display:none;
}

.activity-page h2 {
    margin: 15px 15px 4px;
    border-bottom: 1px solid #F0F3F4;
    padding-bottom: 8px;
    width: 96%;
}
ul.accordion input + label ~ *{
  display: block;
}

.width-100{
  width:95.5%!important;
}
