/* The Whistle admin subdomain stylesheet */

/* stylelint block-opening-brace-space-before: [ "always", { "severity": "warning" } ] */

@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');

body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    padding: 0;
    background: #f0f3f4;
    /* background-color: : #ffffff; */
}

main {
    margin: 0 auto;
    padding: 1.4%;
    /* padding: 0; */
    max-width: 1300px;
}

/*
 * Headings and container headers
 */

h1 {
    border-bottom: 1px solid #f0f3f4;
    color: #033549;
    font-size: 3em;
    font-weight: 300;
    margin-top: 0.2em;
}

h2 {
    color: #033549;
    font-size: 2em;
    font-weight: normal;
}

.page-header-title {
    padding: 0;
    margin: 8px 0;
}

h3 {
    color: #033549;
    font-size: 1.2em;
    font-weight: bold;
    /* font-style: italic; */
}

h4 {
    color: #033549;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
}

.container-header {
    padding: 1em;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #e0e6e8;
}

/*
 * Navbars and navbar menus
 */

.logo-container {
    content: url(../img/logo-128x22.png);
}

header nav {
    background: #033549;
    font: 300 1.2em 'Open Sans';
    margin: 0;
}

header nav ul {
    margin: 0;
}

header nav li {
    margin: 0;
}

header nav a, header nav a:visited {
    color: #ffffff;
}

header nav a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* override pure menu background colour */

header nav .pure-menu-active > .pure-menu-link, header nav .pure-menu-link:hover, header nav .pure-menu-link:focus {
    background-color: #7691b0;
}

header nav .pure-menu-link {
    color: #ffffff;
    padding: 0.8em 1em;
}

header nav .pure-menu-children .pure-menu-link {
    color: #666666;
}

header nav .pure-menu-children .pure-menu-link:hover {
    color: #ffffff;
}

.pure-menu-children {
    /* light border around drop-down menu */
    background-color: #fdfdfd;
    border: 1px solid #eeeeee;
}

/*
 * tabs within pages (report details, user dashboard)
 */

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tabs ul {
    border: 1px solid #f0f3f4;
    margin: 5px 0;
    border-bottom: 4px solid #f0f3f4;
    background: #fafbfd;
}

.tabs li {
    text-align: center;
    margin: -4px -2px -4px;
    padding: 0;
    border-right: 1px solid #f0f3f4;
}

.tabs li:first-child {
    margin-left: 0;
}

.tabs .active {
    border-top: 4px solid #4a90e2;
    border-right: 1px solid #f0f3f4;
}

.tabs li a {
    display: block;
    padding: 20px 15px;
    margin: 0;
    min-width: 100px;
    color: #999999;
}

.tabs li a, .tabs li a:hover {
    text-decoration: none;
}

.tabs li .disabled {
    pointer-events: none;
    opacity: 0.4;
}

.tabs li a:hover, .tabs li a:focus {
    /* pure menu hover background color */
    background-color: rgb(238, 238, 238);
}

.tabs .active a, .tabs .active a:hover, .tabs .active a:focus {
    background-color: #ffffff;
    color: #555555;
    cursor: default;
    font-weight: bold;
}

.tab-content {
    padding: 10px 15px;
    border: 1px solid #f0f3f4;
    margin-top: -6px;
}

/*
 * Tags
 */

span.tag:hover, a.tag:hover {
    background: #ebeff1;
}

span.tag, a.tag {
    background: #f0f3f4;
    border: 1px solid #f0f3f4;
    border-radius: 8px;
    padding: 0 6px 1px;
    white-space: nowrap;
    font-size: 0.9em;
    margin-right: 0.3em;
}

#tag-list {
    margin: 5px 0;
    display: inline-block;
}

#tag-list .tag {
    margin-right: 3px;
}

/*
 *  Purecss overrides
 */

/* override pure form checkbox labels */
.pure-form-aligned .pure-control-group input + label {
    width: auto;
}

/* override base a:hover for search menus */
#search a:hover {
    text-decoration: none;
}

/* override pure css font because we do not need the Pure css's font-family */
.pure-g [class*=pure-u] {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif !important;
}

/* fix for inconsistent pure form input field height */
.pure-form input:not([type]) {
    height: 2.25em;
}

/* override pure primary button colour */
.pure-button-primary {
    background-color: #50addb;
}

/*
 * Helper classes
 */

.drop-shadow {
    -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.08);
}

.border-top {
    border-top: 1px solid #e0e6e8;
}

a, a:visited {
    color: #50addb;
}

a.grey {
    color: #999999;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.small {
    font-size: 80%;
}

.grey-background {
    background-color: #fafafa;
}

.blue-grey-background {
    background-color: #fafbfd;
}

.white-background {
    background-color: #ffffff;
}

.mt-1-5em {
    margin-top: 1.5em;
}
