/* The Whistle stylesheet */

@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
body {
    font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
    padding: 0;
}

main {
    margin: 0;
    padding: 0 1.4%;
}

h1 {
    border-bottom: 1px solid #ebebeb;
    color: #033549;
    font-size: 3em;
    font-weight: 300;
    margin-top: 0.2em;
}

h2 {
    color: #033549;
    font-size: 2em;
    font-weight: normal;
}

h3 {
    color: #033549;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

h4 {
    color: #033549;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
}

.logo-container {
    content: url(../img/logo-128x22.png);
    /*margin-left: 40px;*/
    /*padding: 0 1em;*/
}

header nav {
    background: #033549;
    font: 300 1.2em 'Open Sans';
    margin: 0;
    /*padding-top: 0.4em*/
}

header nav ul {
    margin: 0;
}

header nav li {
    margin: 0 0;
}

header nav a, header nav a:visited {
    color: #fff;
}

header nav a:hover {
    color: #fff;
    text-decoration: none;
}


/* override pure menu background colour */

header nav .pure-menu-active>.pure-menu-link, header nav .pure-menu-link:hover, header nav .pure-menu-link:focus {
    background-color: #7691b0;
}

header nav .pure-menu-link {
    color: #fff;
    padding: 0.8em 1em;
}

header nav .pure-menu-children .pure-menu-link {
    color: #666666;
}

header nav .pure-menu-children .pure-menu-link:hover {
    color: #fff;
}

.pure-menu-children { /* light border around drop-down menu */
      background-color: #fdfdfd;
      border: 1px solid #eeeeee;
}



/*
 * tabs within pages (report details, user dashboard)
 */

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tabs ul {
    border: 1px solid #ebebeb;
    margin: 5px 0;
    border-bottom: 4px solid #ebebeb;
    background: #fafbfd;
}

.tabs li {
    text-align: center;
    margin: -4px -2px -4px;
    padding: 0;
    border-right: 1px solid #ebebeb;
}

.tabs li:first-child {
      margin-left: 0;
}

.tabs .active {
      border-top: 4px solid #4A90E2;
      border-right: 1px solid #ebebeb;
}

.tabs li a {
    display: block;
    padding: 20px 15px;
    margin: 0;
    min-width: 100px;
    color: #999;
}

.tabs li a, .tabs li a:hover {
    text-decoration: none;
}

.tabs li .disabled {
    pointer-events: none;
    opacity: 0.4;
}

.tabs li a:hover, .tabs li a:focus {
    /*pure menu hover background color*/
    background-color: rgb(238, 238, 238);
}

.tabs .active a, .tabs .active a:hover, .tabs .active a:focus {
    background-color: #ffffff;
    color: #555555;
    cursor: default;
    font-weight: bold;
}


/*Custom table */


/*override pure striped background*/

.custom-table tr:nth-child(2n-1) td {
    background-color: #fafbfd;
}

table.custom-table {
    border-color: #ebebeb;
}

table.custom-table th {
    color: #999;
    font-size: 14px;
    font-style: normal;
}

table.custom-table td, table.custom-table th {
    border-color: #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

table.custom-table td {
    padding: 8px;
    vertical-align: middle;
}

table.custom-table td.action, table.custom-table th.action { padding: 0; }
td.action { min-width: 0; }

td.action a {
    font-size: 1.4em;
    padding: 5px;
}

/*tweak margin*/
.custom-table.margin-tweak {
      margin-top: 3px;
}

/*Tags*/

span.tag, a.tag {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding: 0 4px;
    white-space: nowrap;
}

.export {
    font-size: 1em;
    margin-top: 2.4em;
    margin-left: 0.4em;
}

/* override pure form checkbox labels */

.pure-form-aligned .pure-control-group input+label {
    width: auto;
}


/* override base a:hover for search menus */

#search a:hover {
    text-decoration: none;
}


/*
Helper classes
*/


/*
label              { width: 16em; }
input[type=text]   { width: 24em; }
input[type=number] { width:  4em; }
textarea           { width: 24em; }
*/

.fluid {
    width: 100%;
}

.border-top {
    border-top: 1px solid #ebebeb;
}

a, a:visited { color: #033549; }
a.grey       { color: #999999; }
.green       { color: #006600; }
.red         { color: #660000; }

.grey-background      { background-color: #fafafa; }
.blue-grey-background { background-color: #fafbfd; }

.tab-content {
    padding: 10px 15px;
    border: 1px solid #ebebeb;
    margin-top: -6px;
}
