/* Individual Report Page */

#individual-report {
    padding: 0;
}

.report-container {
    border-left: 1px solid #f0f3f4;
    background: #dee9ed;
}

.report-header-container {
    color: #033549;
    background: #ffffff;
    position: relative;
    z-index: 1;
}

.report-header-content {
    font-size: 1.2em;
    font-weight: bold;
    padding: 6px 0;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

#rightFixedSidebar {
    position: fixed;
    overflow-y: scroll;
    top: 107px;
    bottom: 0;
    right: 0;
    background: #ffffff;
}

.link-inverse {
    color: #ffffff;
}

.weather-header {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #f0f3f4;
    margin-bottom: -1px;
}

.weather-header > span {
    margin-right: 15px;
}

.weather-body {
    padding: 15px;
}

.weather-condition {
    display: inline-block;
}

.weather-condition > div {
    padding: 4px 0;
}

.weather-condition-hour {
    font-size: 0.9em;
}

/* Report header div table */

.content-header {
    color: #000000;
    font-weight: bold;
}

.card-header {
    color: #6c949e;
    font-weight: lighter;
}

.header-table-cell.report-header {
    width: 40%;
}

.header-table-cell form {
    padding: 0;
    margin: 5px 0;
}

.header-table-cell select, .header-table-cell input {
    width: 100%;
}

.header-table {
    display: table;
    width: 100%;
}

.header-table-row {
    display: table-row;
}

.header-table-heading {
    background-color: #eeeeee;
    display: table-header-group;
}

.header-table-cell, .header-table-head {
    border: 0;
    display: table-cell;
    padding: 6px 10px 8px;
}

.header-table-heading {
    background-color: #eeeeee;
    display: table-header-group;
    font-weight: bold;
}

.header-table-foot {
    background-color: #eeeeee;
    display: table-footer-group;
    font-weight: bold;
}

.header-table-body {
    display: table-row-group;
}

.export-link {
    vertical-align: middle;
    border-left: 1px solid #f0f3f4;
    text-align: center;
}

/* Moved from dashboard-report */

#map {
    height: 400px;
    width: 100%;
}

p.note {
    color: #999999;
    font-size: 80%;
}

h1 {
    border-bottom: none;
}

button {
    background: none;
    border: none;
    padding: 4px;
}

h1 {
    border-bottom: none;
}

div.comment {
    border: 1px solid #f0f3f4;
    /* margin: 0.5em 0; */
    max-width: 640px;
}

div.comment div {
    padding: 0.5em;
}

div.comment .by {
    background: #f9f9f9;
}

div.comment p {
    margin: 0.5em 0;
}

div.by a {
    color: #333333;
}

div.by button {
    background: none;
    border: none;
    color: #999999;
}

div.by button:hover {
    cursor: pointer;
}

div.by button.edit:hover {
    color: #3992ab;
}

div.by button.delete:hover {
    color: #990000;
}

#div-add-comment {
    /* padding: 0.5em; */
    max-width: calc(640px - 1em);
}

textarea {
    display: block;
    height: 8em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 96%;
}

.padding-15 {
    padding: 15px;
}

#files img {
    max-width: 80px;
    max-height: 80px;
}

#files table {
    margin: 15px;
}

/* js-object-to-html 'heading' version */

.js-obj-to-html h3 {
    margin: 0;
    font-weight: lighter;
    color: #6c949e;
}

.js-obj-to-html p {
    margin: 0 0 15px;
    padding-bottom: 4px;
    font-size: 1.2em;
    /* border-bottom: 1px solid #f0f3f4; */
    color: #333333;
}

/* js-object-to-html 'table' version */

.js-obj-to-html {
    width: 100%;
}

.js-obj-to-html th {
    color: #52727a;
    font-size: 1.2em;
    font-weight: lighter;
    font-style: normal;
    padding: 8px 8px 8px 0;
    margin: 0;
    /* border-bottom: 1px solid #f0f3f4; */
    width: 1%;
    white-space: nowrap;
}

.js-obj-to-html td {
    /* font-size: 1.2em; */
    padding: 8px 8px 8px 0;
    /* border-bottom: 1px solid #f0f3f4; */
}

#submitted p {
    color: #52727a;
}

/* enable scroll; */

.apply-scroll {
    position: relative;
    overflow-y: scroll;
}
