/* Stylesheet for wwww (what-where-when-who) reporting */
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');

body {
    font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
    background: white;
    color: #444444;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 48em;
    padding: 0 1em;
}

h1 {
    color: #406591;
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
    margin: 0 0;
}

a            { color: #406591; }
a, a:visited { color: #406591; }
a.grey       { color: #999999; }
.green       { color: #006600; }
.red         { color: #660000; }


form li {
    clear: both;
    margin: 2em 1em;
}

button.nav {
    background: none;
    border: none;
    color: #406591;
    float: right;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}
button.prev {
    float: left;
}
button.next {
    float: right;
}

label {
    margin-top: 1em;
    width: auto;
}
input, textarea {
    float: right;
    width: 80%;
}
input[type=date], input[type=time] {
    width: auto;
}
input[type=number] {
    width: auto;
}
input[type=radio] {
    float: none;
    width: auto;
}

table.progress {
    border-collapse: collapse;
    float: right;
    font-size: 80%;
}
table.progress td {
    border: 1px solid #406591;
    min-width: 3em;
    padding: 0.1em 0.25em;
    text-align: center;
}
table.progress td.current {
    background-color: #009900;
    color: #ffffff;
}

ul.validation-errors {
    list-style: none;
    color: #990000;
}


header nav {
    background: #406591;
    font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0.2em 0 0.1em 0.4em;
    margin: 0 0 2em 0;
    /*padding-top: 0.4em*/
}

header nav {
    color: #ffffff;
}

.logo-container {
    content: url(../img/logo-32.png);
}
