.links-table a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

td a {
    display: block;
    width: 100%;
    height: 100%;
}

.links-table {
    width: 90%;
    margin: auto;
    text-align: center
}

.links-table td {
    background-color: #444444;
    width: 50%;
}

#landing-nav {
    background: color #444444;
}

table tr:hover td { 
    background-color: #444444;     
    opacity: 1.0;
 }