#search {
    border: 1px solid #e0e6e8;
    background: #ffffff;
    margin-bottom: 0.4em;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.08);
}

#search a.bold {
    font-weight: bold; /* assigned to current user */
}

/*
#search input {
    background-color: #eeeeee;
    border: 1px solid #999999;
}
*/

#search-display {
    min-height: 2.4em;
}

.magnifying-glass { /* pretty icon in search bar */
    color: #99b2c1;
    padding: 0.9em;
    display: inline-block;
    /* border-right: 1px solid #F0F3F4; */
    background-color: #fafbfd;
}

#search-display span { /* current filter criteria */
    background-color: #e0edf5;
    color: #2f5d92;
    display: inline-block;
    margin: 0.4em;
    padding: 0.1em 0.2em;
    white-space: nowrap;
}

#search-display span a.remove-filter { /* remove filter criterion */
    font-weight: bold;
}

#search-display span a.remove-filter:hover { /* remove highlight */
    text-decoration: none;
    text-shadow: 0 0 5px #000000;
}

input.description-filter {
    background-color: #ffffff;
    border-right: 1px solid #e0e6e8;
    padding: 13px 6px 11px;
    border-left: 1px solid #e0e6e8;
    margin: -4px;
    width: 20%;
    border-bottom: 0;
    border-top: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11) inset;
}

input.description-filter::placeholder {
    color: #99b2c1;
}

/* Override bootstrap slider styles */

.range-filter {
    padding: 20px;
}

.slider.slider-horizontal {
    margin-top: 28px;
}

.tooltip.tooltip-main.top {
    font-size: 1.2em;
    padding: 0 10px;
    margin-left: 0 !important;
}

.slider-track-low, .slider-track-high {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background-color: #f0f3f4;
}

.slider-selection {
    background: #e0edf5 !important;
    border: 1px solid #e0edf5;
}

.slider-handle {
    background: #50b2e2 !important;
}

/* override pure-menu-link */

a.pure-menu-link {
    color: #50addb;
}
