/* Stylesheet for public/civilian reporting app */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: white;
    color: #444444;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 48em;
    padding: 0 1em;
}

button.inline-link {
    background: none;
    border: none;
    color: #406591;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

/*
* Helper classes
*/

.width-2chars {
    width: 2.5em;
}

.width-4chars {
    width: 5em;
}

.hint-text {
    font-size: 13px;
    color: #767676;
}

.not-working { /* 'form not working' link */
    color: #767676;
    font-size: 13px;
    margin-top: 2.4em;
    text-align: center;
}

.greyed, .greyed button.inline-link {
    color: #888888;
}

.black-text {
    color: #000000;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.button-small {
    font-size: 80%;
}

.margin-top-3 {
    margin-top: 3%;
}
/*
* Table
*/

table.inline {
    display: inline-block;
    vertical-align: bottom;
}

tr.field-label {
    font-size: 8pt;
    color: #999999;
}

/*
* Lists
*/

ul.validation-errors {
    list-style: none;
    color: #990000;
}

ul.with-bullets li {
    list-style-type: disc;
    margin: 0 0 0 1em;
}

ul.with-margin li {
    margin: 0 0 1em 1em;
}

ul {
    margin: 0;
}

/*
* Typography
*/

h1 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.3;
    margin: 0.2em 0;
}

p {
    margin-top: 0;
}

.banner h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 2em;
}

/*
* Form elements
*/

form {
    margin: 6% 0;
}

form ul {
    margin: 4% 0;
}

/* Pure css input style isolated to reduce dependencies for responsiveness */
/* TODO: why not simply input, select, textarea? */
input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=tel], input[type=color], input[type=number], input[type=search], input[type=text], select, textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 3px #dddddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

label.inline {
    display: inline;
}

.radio-margin {
    margin-left: 2em;
}

/* sexual-assault pages 2, 5, 7 */

.pure-form .pure-radio {
    display: inline-block;
    margin: 0;
}

input[type=file].upload-file {
    background: none;
    border: none;
    color: #406591;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

label {
    /* margin-top: 1em; */
    width: auto;
}

input[type=date], input[type=time] {
    width: auto;
}

input[type=radio] {
    float: none;
    width: auto;
    /* margin-left: 10px; */
}

.pure-form select {
    height: auto;
}

input[type='checkbox'] {
    margin-right: 0.5em;
}

form li {
    clear: both;
    margin: 1em 0;
    border: 1px solid #e5e8ea;
    padding: 13px 10px 10px 10px;
    background: #fbfdfd;
    border-radius: 4px;
}

/*
* Custom Radio button
*/

[type='radio']:checked,
[type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
    position: relative;
    padding-left: 37px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #444444;
    padding-bottom: 10px;
    font-size: 120%;
    padding-top: 4px;
    width: 90%;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #a0a0a0;
    border-radius: 100%;
    background: #ffffff;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #50addc;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type='radio']:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*
* Custom checkbox
*/

[type='checkbox'] + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #444444;
    padding-bottom: 10px;
    font-size: 120%;
    padding-top: 4px;
    width: 90%;
}

/*
* Header
*/

@media screen and (max-width: 480px) {
    header img {
        width: 140px;
        height: 16px;
    }
}

header .pure-menu-horizontal ul.pure-menu-list.block {
    /* max-width is 40em so that the header appears the same width as the body, which is defined as
     * max-width 48em; the difference is something to do with the ratio between the two font sizes. */
    max-width: 40em;
    margin: 0 auto;
    display: block;
}

header .pure-menu-item a, header .pure-menu-item a.visited {
    color: #ffffff;
}

header {
    font-weight: 300;
    padding: 0.2em 0 0.1em 0.4em;
    margin: 0 0 1%;
    /* padding-top: 0.4em */
}

@media (max-width: 400px) {
    header {
        font-size: 0.9em;
    }
}

header {
    color: #ffffff;
}

header nav img {
    margin: 7px 0 0 15px;
}

/*
* Progress-bar
*/

table.progress {
    border-collapse: collapse;
    /* float: right; */
    font-size: 80%;
    margin: 0.3em;
}

table.progress td {
    min-width: 3em;
    padding: 0.1em 0;
    text-align: center;
}

.progress-bar {
    margin-bottom: 1em;
}

/*
* Colours
* (Isolating css properties with colors is useful when changing the color scheme)
*/

header {
    background: #033549;
}

#name-ok {
    color: #009900;
}

#name-nok {
    color: #990000;
}

a, a:visited {
    color: #033549;
}

a.grey {
    color: #999999;
}

table.progress td {
    border: 1px solid #e6e6e6;
}

table.progress td.current {
    background-color: #50addb;
    color: #ffffff;
}

.progress a {
    display: block;
    color: inherit;
}


/*
* Purecss overrides - Colours
*/

.pure-button-primary {
    background-color: #50addb;
}

/*
* Misc
*/

div.bumper {
    width: 1.5em;
    min-height: 1px;
}

.special-intro {
    font-size: 16px;
    line-height: 1.5;
}

.banner {
    background-color: #033549;
    padding: 14px;
}

/* 'existing-name' check */

.name-available {
    font-weight: bold;
    margin-top: 1em;
}
