<!doctype html>
<html lang="en">
<head>
    <title>SMS Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="/js/twilio/test.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/twilio-test.css">
</head>
<body>
    <div id="phone">
        <div id="messages"></div>
        <span id="input">
            <input type="text" id="txt"/>
            <i style="font-size:36px" class="fa" id="btn">&#xf18e;</i>
        </span>
    </div>
</body>
</html>
