<!doctype html>
<html lang="en">
<head>
    <title>Form specifications | The Whistle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="/css/form-editor.css">
    <style>
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
    <script src="/js/admin/notifications.js" defer></script>
    <script>
        'use strict';
        document.addEventListener('DOMContentLoaded', function() {

            // show/hide delete button on hover over formSpec tr
            document.querySelectorAll('tr.formSpec').forEach(tr => tr.onmouseenter = async function showDeleteButton() {
                this.querySelector('button').classList.remove('hide');
                this.querySelector('a').classList.remove('hide');
            });
            document.querySelectorAll('tr.formSpec').forEach(tr => tr.onmouseleave = async function hideDeleteButton() {
                this.querySelector('button').classList.add('hide');
                this.querySelector('a').classList.add('hide');
            });

            // report deletion confirmation pop-up
            document.querySelectorAll('form.delete').forEach(form => form.onsubmit = function confirmDelete() {
                return confirm('Are you sure you want to delete this form spec?');
            });

            // display specification
            document.querySelectorAll('.spec').forEach(td => td.onclick = async function displaySpec() {
                const headers = { 'Content-Type': 'application/json', Accept: 'application/json' };
                const credentials = 'same-origin';
                const response = await fetch(`/ajax/form-specifications/${this.parentElement.id}`, { headers, credentials });
                if (response.ok) {
                    const spec = await response.json();
                    const editURI = '/form-specifications/' + spec.spec._id + '/edit'
                    document.querySelector('#spec').textContent = spec.spec.specification;
                    document.querySelector('#page-name').textContent = spec.spec.project;
                    document.querySelector('#page-id').href = editURI;
                    document.querySelector('#page-id').classList.remove('hide');
                    document.querySelectorAll('.spec').forEach(td => td.classList.remove('highlight'));
                    this.parentElement.querySelectorAll('.spec').forEach(td => td.classList.add('highlight'));
                } else {
                    alert(response.status+': '+body.message);
                }
            });

        });
    </script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107905163-1" async></script>
    <script src="/js/admin/ga.js" async></script>
</head>
<body>

<header>

{{>navpartial}}

</header>

<main>
  <div class="pure-u-1 header-container border-bottom">
              <div class="header-table">
                  <div class="header-table-body">
                      <div class="header-table-row">
                          <div class="header-table-cell">
                              <div class="content-header"><a class="bold" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back </a></div>
                          </div>

                          <div class="header-table-cell">
                              <div class="content-header">Campaign name</div>
                          </div>

                          <div class="header-table-cell">
                          </div>

                          <div class="header-table-cell">

                          </div>

                      </div>
                  </div>
              </div>
          </div>
<!-- <h1>Form specifications</h1> -->

{{>errpartial}}
{{#if @koa.flash.notification}}<p class="alert">{{@koa.flash.notification}}</p>{{/if}}
<div class="pure-g editor-container">
  <div class="pure-u-1-5 bg-white page-list boder-right ">
    <div class="new-button">
      <a class="pure-button pure-button-primary filter-toggle" href="/form-specifications/add" title="Add new form spec"><i class="fa fa-plus"></i> New page</a>
    </div>
    <table class="">
      <tr>
        <!-- <th>Project</th>
                            <th>Page</th>
                            <th></th>
                            <th></th> -->
      </tr>
      {{#formSpecs}}
      <tr id="{{_id}}" class="formSpec">
        <td class="spec nowrap">{{project}}</td>
        <td class="spec nowrap">{{page}}</td>
        <td class="spec"><a href="/form-specifications/{{_id}}/edit" title="Edit form spec" class="fa fa-pencil grey hide"></a></td>
        <td class="spec">
          <form action="/form-specifications/{{_id}}/delete" method="post" class="delete"><button name="delete" value="{{_id}}" title="Delete form spec" class="fa fa-trash hide"></button></form>
        </td>
      </tr>
      {{/formSpecs}}
    </table>
  </div>
  <div class="pure-u-3-5 bg-white border-right ">
    <div class="border-bottom editor-toolbox pure-g">
      <div class="pure-u-21-24 bg-white " id="page-name"></div>
      <div class="pure-u-1-24 bg-white padding-10">
        <div class="edit-button ">
          <a id="page-id" class="pure-button hide pure-button-primary button-small filter-toggle" href="/form-specifications/{{_id}}/edit" title="Edit form spec"><i class="fa fa-pencil"></i> Edit</a>
        </div>
      </div>
    </div>
    <pre id="spec"> <span class="grey-color"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Create a new page or select a page from the list to view or edit.</span> </pre>
  </div>
  <div class="pure-u-4-24 bg-white ">DOCS</div>
</div>

</main>

</body>
</html>
