<!doctype html>
<html lang="en">
<head>
    <title>Add Form specification | The Whistle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <style>
        textarea { font: 0.8em monaco, Consolas, 'Lucida Console', monospace; height: 36em; width: 48em; }
        div.error-msg pre { margin: 0 2em; }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
    <script src="/js/admin/notifications.js" defer></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107905163-1" async></script>
    <script src="/js/admin/ga.js" async></script>
</head>
<body>

<header>

{{>navpartial}}

</header>

<main>

<h1>Add Form specification</h1>

{{>errpartialraw}}

<form method="post" class="pure-form pure-form-aligned">
    <ul>
        <li class="pure-control-group">
            <label for="project">Project</label>
            <input type="text" name="project" id="project" value="{{project}}" required autofocus class="w12">
        </li>
        <li class="pure-control-group">
            <label for="page">Page</label>
            <input type="text" name="page" id="page" value="{{page}}" class="w12">
            <span>leave blank for top-level page</span>
        </li>
        <li class="pure-control-group">
            <label for="specification">Specification</label>
            <textarea name="specification" id="specification">{{specification}}</textarea>
        </li>
        <li class="pure-control-group">
            <label></label>
            <button type="submit" class="pure-button pure-button-primary">Add form spec</button>
        </li>
    </ul>
</form>

</main>

</body>
</html>
