<!doctype html>
<html lang="en">
<head>
    <title>The Whistle project technology trial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107905163-1" async></script>
    <script src="/js/admin/ga.js" async></script>
</head>
<body>

<header>

{{>navpartial}}
{{>errpartial}}

</header>

<main>

<h1>The Whistle project</h1>

<p>The Whistle project is currently under development.</p>
<p>See <a href="http://thewhistle.org/">The Whistle</a> website for further details.</p>
<p>All admin functionality requires <a href="/login">logging in</a>.</p>
<p>Current test report submission apps can be found at:</p>
<ul>
    <li>GRN / sexual-assault: <a href="http://report.thewhistle.org/test-grn/sexual-assault">report.thewhistle.org/test-grn/sexual-assault</a></li>
    <li>Cambridge / wwww (what-where-when-who): <a href="http://report.thewhistle.org/test-cam/wwww">report.thewhistle.org/test-cam/wwww</a></li>
    <li>Cambridge / scr (survivor-centred response): <a href="http://report.thewhistle.org/test-cam/scr">report.thewhistle.org/test-cam/scr</a></li>
</ul>

</main>

</body>
</html>
