<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" integrity="sha256-SimsGsu3ragCO+uhwd4Um5PUzUuc3Eg+pxshtVHXYpM=" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/reports-filter.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js" integrity="sha256-Gdq5BxoczjhbEJLjrYKQ4fvBGx/EQrTWjDM2UrdTot0=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/qs/6.4.0/qs.min.js" integrity="sha256-Epo8Yj1phr7IExs51UisfSWpmD5bmSf/DMeCcIUoBbM=" crossorigin="anonymous"></script>
    <script src="//unpkg.com/dateformat@2.0.0/lib/dateformat.js"></script>
    <script src="/js/admin/reports.js"></script>
    <script> const slider = { oldest: '{{oldest}}', latest: '{{latest}}' , sort: '{{sort}}'}; </script>
    <script src="/js/admin/reports-filter.js"></script>
    <script> // list of reports
        'use strict';
        document.addEventListener('DOMContentLoaded', async function() { // reports list

            // listener for click on tr to open report details page
            document.querySelectorAll('tr[id]').forEach(el => el.onclick = function() {
                window.location.href = '/reports/'+this.id;
            });

            // sorting: set search field or reverse current sort order
            document.querySelectorAll('th[data-sort]').forEach(el => el.onclick = function() {
                const qs = Qs.parse(location.search.slice(1));
                const sort = this.dataset.sort;
                if (!qs.sort && sort=='updated') {
                    // default sort clicking on updated: set reverse updated sort
                    qs.sort = 'updated-';
                } else if (qs.sort && sort==qs.sort.slice(0, sort.length)) {
                    // click on current sort: reverse sort order
                    qs.sort = sort==qs.sort ? sort+'-' : sort;
                } else {
                    // click on new sort: default sort to data-sort setting
                    qs.sort = sort;
                    if (sort == 'updated') delete qs.sort;
                }
                // TODO: if already sorted, use window.location.replace() to avoid excessive history
                window.location.href = window.location.pathname + (Qs.stringify(qs) ? '?'+Qs.stringify(qs) : '');
            });

            const hasFilter = document.querySelectorAll('#filter-container span[data-key]').length > 0;
            if (hasFilter) {
                const div = document.getElementById('filter-container');
                div.style.display = 'block';
            }
            const sortIndicator = document.querySelector('th[data-sort={{sort.column}}] .fa');
            sortIndicator.style.color = '#000000';
            sortIndicator.parentElement.style.backgroundColor = '#e8f2f7';
            sortIndicator.classList.remove('fa-sort');
            sortIndicator.classList.add('{{sort.asc}}'=='+' ? 'fa-sort-asc' : 'fa-sort-desc');

            // keep updated-ago current every 10 secs
            function updateAgo() {
                document.querySelectorAll('td[data-ago]').forEach(td => {
                    if (td.dataset.ago) td.textContent = ago(td.dataset.ago);
                });
            }
            setInterval(updateAgo, 10e3);
        });
    </script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107905163-1" async></script>
    <script src="/js/admin/ga.js" async></script>
</head>
<body>

<header>
    {{>navpartial}}
</header>

<main>



<!-- <h2 class="page-header-title">Reports</h2> -->

{{>errpartial}}

<div class="white-background drop-shadow">

    {{>filterpartial}}

    <div class="container-header">
      <span class="grey">Search Result ({{count}})</span>
        <div class="float-right bold">
            <span>Export to</span>
            <a href="{{exportCsv}}" title="Save as CSV"> CSV </a>
            <span>/</span>
            <a href="{{exportPdf}}" title="Save as PDF">PDF</a>
        </div>
    </div>
    <!-- "The map wont be relevant until we start on Gen 2"  -->
    <!-- Disabling the tabs since we don't have map for now -->

    <!-- <nav class="tabs">
        <ul>
            <li class="active"><a href="/reports">List ({{count}})</a></li>
            <li><a href="/reports-map{{@koa.request.search}}">Map</a></li>
        </ul>
    </nav> -->


    <table class="pure-table w100pc custom-table clickable-row reports-table">
        <tr>
            <th data-sort="from" class="w12">from <span  class="float-right fa fa-sort"></span></th>
            <!-- <th data-sort="submitted" class="w6">submitted <span  class="float-right fa fa-sort"></span></th> -->
            <!-- <th data-sort="updated" class="w5">updated <span  class="float-right fa fa-sort"></span></th> -->
            <th data-sort="summary">description <span  class="float-right fa fa-sort"></span></th>
            <th data-sort="assigned" class="w6">assigned to <span  class="float-right fa fa-sort"></span></th>
            <th data-sort="status" class="w6">status <span  class="float-right fa fa-sort"></span></th>
            <th class="w8">tags</th>
            <th data-sort="location" class="w6">location <span  class="float-right fa fa-sort"></span></th>
            <!-- <th></th>
            <th class="action"></th>
            <th class="action"></th> -->
        </tr>

        {{#reports}}
        <tr id="{{_id}}" title="{{name}}@{{reportedOnFull}} by {{reportedBy}}" class="{{#unless viewed}}new-report{{/unless}}">
            <td class="report-identifier">
                {{#unless viewed}}<div class="fa fa-circle new-indicator"></div>{{/unless}}
                <span>{{reportedBy}}</span>
                <br><span class="small">{{{reportedOnDay}}}</span>
                <br><i class="pale-grey small">{{{updatedAgo}}}</i>
            </td>
            <!-- <td title="{{reportedOnFull}} by {{reportedBy}}" class="pale-grey nowrap" style="text-align:right">
              <span></span>
            </td> -->
            <!-- <td data-ago="{{updatedOn}}" title="{{updatedOnPretty}} by @{{updatedBy}}" class="pale-grey">
              <span>{{{updatedAgo}}}</span>
            </td> -->
            <td class="submitted-description">
                <span>{{{submittedDesc}}}</span>
            </td>

            <td class="assigned">
                <span title="filter by assigned-to={{assignedTo}}">{{{assignedTo}}}</span>
            </td>
            <td>
                <span>{{{status}}}</span>
            </td>
            <td>
                {{#if tags}}
                    {{#tags}}{{{this}}}{{/tags}}
                {{else}}
                    <i class="pale-grey">No tags</i>
                {{/if}}
            </td>
            <td>
                <span>{{location}}</span>
            </td>

        </tr>
        {{/reports}}
    </table>
</div>
<!-- Disabling the dev notes for now
<p class="grey"><b>Notes</b></p>
<p class="grey"><i>Updated</i> filter: the <i>updated</i> column shows 'ago' vaues: should the
    <i>updated</i> filter also be by 'ago' values, or by dates?</p>
<p class="grey">Formatting issues to be addressed on <i>submitted</i> range filter.</p>
<p class="grey">Interaction for <i>summary</i> was designed before I came up with the 'enter-in-place'
    mechanism for <i>report fields</i> – perhaps the <i>report fields</i> approach would be better for
    <i>summary</i> also (though that would imply no drop-down arrow against summary, so I'm not
    entirely sure).</p>
<p class="grey">If number of <i>report fields</i> is likely to be very large, perhaps that should be
    implemented using some form of autocomplete.</p>
<p class="grey">Think about use of history.</p>
-->

</main>

</body>
</html>
