<!doctype html>
<html lang="en">

<head>
    <title>{{reportDescription}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/dashboard-report.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/accordion.css">
    <script src="/js/report-details.js" defer>/* scripts for managing user interaction on report details page */</script>
    <script>
        'use strict';

        // map
        function initMap() {
            initialiseMap('{{_id}}', '{{name}}', {{lat}}, {{lng}}, '{{reportedOnDay}}', '{{reportedOnFull}}', {{highlight}});
        }

        document.addEventListener('DOMContentLoaded', function() {

            // metadata
            setupMetadataAutosubmitListeners();

            // tags
            setupTagsListeners('{{_id}}');

            // notes
            setupCommentaryListeners('{{_id}}', '{{@koa.state.user.name}}',  '{{@koa.state.user.id}}');

            // set scroll height
            resizeElementHeight(document.getElementById('scroll-container'));


        });

    </script>
    <script src="//maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAZTZ78oNn4Y9sFZ1gIWfAsaqVNGav5DGw" defer></script>
</head>

<body>
  {{>errpartial}}

<header>
    {{>navpartial}}
</header>

<main id="individual-report">

    <div class="pure-g report-container">

        <div class="pure-u-1 report-header-container drop-shadow">
          <div class="header-table">
            <div class="header-table-Body">
              <div class="header-table-Row">
                <div class="header-table-Cell report-header">
                  <div class="content-header">Description</div>
                  <div class="report-header-content">{{{submittedDesc}}}</div>
                </div>

                <div class="header-table-Cell">
                  <div class="content-header">Submitted</div>
                  <div class="report-header-content">{{reportedOnFull}}</div>
                </div>

                <div class="header-table-Cell">
                  <div class="content-header">Assigned to</div>
                  <form method="post" class="pure-form pure-form-aligned">
                      <div class="pure-control-group">
                          <!-- <label for="assigned-to">Assigned to:</label> -->
                          <select name="assigned-to" id="assigned-to">
                              {{#selected assignedTo}}
                              <option value="">&nbsp;</option>
                              {{#users}}
                              <option value="{{_id}}">{{firstname}} {{lastname}}</option>
                              {{/users}}
                              {{/selected}}
                          </select>
                          <!-- <input name="assigned-to" id="assigned-to" value="" list="assignedTo">
                          <datalist id="assignedTo">
                            {{#selected assignedTo}}
                            {{#users}}
                              <option>{{firstname}} {{lastname}}</option>
                            {{/users}}
                            {{/selected}}
                          </datalist> -->
                      </div>
                  </form>
                </div>

                <div class="header-table-Cell">
                  <div class="content-header">Status</div>
                  <form method="post" class="pure-form pure-form-aligned">
                      <div class="pure-control-group">
                          <!-- <label for="status" title="any status values can be used to suit your workflow">Status:</label> -->
                          <input name="status" id="status" value="{{status}}" list="statuses">
                          <datalist id="statuses">
                              {{#statuses}}
                              <option>{{this}}</option>
                              {{/statuses}}
                          </datalist>
                      </div>
                  </form>
                </div>
                <div class="header-table-Cell export-link">
                  <a href="{{exportPdf}}" title="Save as PDF" class="bold">
                      <span>Export to PDF </span>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div id="scroll-container" class="pure-u-3-5 apply-scroll">

            <ul class="card-list">
                <li>
                    <span class="card-header">REPORT INFO <span class="card-sub-header">Anonymous Identifier: <strong>{{reportedBy}}</strong></span></span>
                    <div class="padding-15">

                        <!-- <p><i>Report id</i>: {{_id}} <i>submitted</i>: {{reportedOnFull}} <span class="small grey">{{reportedOnTz}}</span> <i>by</i> {{reportedBy}}</p> -->
                        {{{reportHtml}}}

                        <p><i>Note the contents of the incident report will vary according to the organisation/project the
                            report is submitted for.</i></p>
                    </div>
                </li>

                <li id="files">
                    <span class="card-header">FILES</span>
                    <div class="image-ctx">
                        {{#if analysis.files}}
                        <table>
                            {{#analysis.files}}
                            <tr id="{{name}}" class="align-top">
                                <td><a href="/{{path}}{{name}}">{{#if isImage}}<img src="/{{path}}{{name}}" alt="{{name}}">{{else}}{{name}}{{/if}}</a></td>
                                <td class="exif">
                                    {{#if distance}}<div>{{distance}} {{direction}} from incident location</div>{{/if}}
                                    {{#if time}}<div title="{{time}}">{{timeDesc}}</div>{{/if}}
                                </td>
                            </tr>
                            {{/analysis.files}}
                        </table>
                        {{else}}
                        <div class="padding-15">No files uploaded by the reporter</div>
                        {{/if}}
                    </div>
                </li>

                <!--  Weather report is hidden for now-->
                <li id="weather" class="hide">
                    <span class="card-header">Weather </span>
                    <div>
                        {{#if analysis.weather}}
                        <div class="weather-header">
                            {{analysis.weather.city}}, {{analysis.weather.country}}
                            <img src="/img/wundergroundLogo_4c_horz.jpg" alt="Weather Underground" style="width:90px" class="float-right">
                        </div>
                        <div class="weather-body">
                            {{#analysis.weather.observations}}
                            <div class="weather-condition">
                                <div class="weather-condition-hour">{{date.hour}}:{{date.min}}</div>
                                <div title="{{conds}}"><img src="/img/weather/underground/icons/black/png/32x32/{{icon}}.png" alt="{{conds}}"></div>
                            </div>
                            {{/analysis.weather.observations}}
                        </div>
                        {{else}}
                        <div class="padding-15">No date or location provided</div>
                        {{/if}}
                    </div>
                </li>

                <li id="geocoding">
                    <span class="card-header">LOCATION MAP <a href="https://maps.google.com/maps/search/{{formattedAddress}}" class="fa fa-globe"></a></span>
                    <div class="padding-15">
                        <!-- <p><i>Report id</i>: {{_id}} <i>submitted</i>: {{reportedOnFull}} <span class="small grey">{{reportedOnTz}}</span> <i>by</i> {{reportedBy}}</p> -->
                        <div id="map"></div>
                        <ul class="accordion_2">
                            <li class="accordion__item">
                                <input type="checkbox" class="accordion__toggle" id="toggle-geo" />
                                <label class="accordion__trigger " for="toggle-geo"><span class="content-header bold"><strong>More about location</strong></span></label>
                                <div class="accordion__target">
                                  {{{geocodeHtml}}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>



            </ul>
        </div>

        <div class="pure-u-2-5">
            <ul class="card-list-sidebar">
                  <li>
                    <span class="card-header">Tags</span>
                    <div id="tag-list">{{#tags}}
                        <span class="tag">{{this}} <button title="remove tag" class="tag-del hide fa fa-trash red"></button></span> {{/tags}}
                        <button id="tag-add" title="add tag" class="fa fa-plus green"></button></div>
                    <div id="new-tag" class="hide">
                        <span class="grey">#</span><input name="tag" id="tag" list="tags" placeholder="enter tag">
                        <button id="tag-save" title="add tag" class="fa fa-check green"></button>
                        <button id="tag-cancel" title="cancel" class="fa fa-times red"></button>
                    </div>
                    <datalist id="tags">
                        {{#tagList}}
                        <option value="{{this}}">
                            {{/tagList}}
                    </datalist>
                </li>
                <li>
                    <span class="card-header">Notes</span>
                    <div id="commentsContainer">
                        {{#comments}}
                        <div class="comment" id="{{id}}">
                            <div class="by"><b><a href="/users/{{byName}}">{{byName}}</a></b> commented <a href="#{{id}}" title="{{onFull}}">{{onPretty}}</a>
                                <button class="float-right fa fa-times delete"></button> {{#if owner}}<button class="float-right fa fa-pencil edit"></button>{{/if}}
                            </div>
                            <div>{{{comment}}}</div>
                        </div>
                        {{/comments}}

                        <div class="comment" id="div-add-comment">
                            <textarea name="comment" id="comment" placeholder="Add a comment"></textarea>
                            <button id="add-comment" class="pure-button pure-button-primary">Add comment</button>
                                <span class="small grey">
                                    <svg aria-hidden="true" class="align-middle" height="12" version="1.1" viewBox="0 0 16 16" width="16">
                                        <path fill-rule="evenodd" d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"></path>
                                    </svg>
                                    Styling with <a href="https://daringfireball.net/projects/markdown/">Markdown</a> is supported; @mentions and #tags can be used
                                </span>
                        </div>
                    </div>
                </li>

                <!-- <li>
                    <span class="card-header">Admin Note</span>
                    <div class="report-action">
                        <form method="post" class="pure-form pure-form-aligned">
                            <div class="pure-control-group">
                                <label for="summary">Summary</label>
                                <input name="summary" id="summary" value="{{summary}}" class="w24">
                            </div>
                        </form>
                    </div>
                </li> -->
                <ul class="accordion_2">
                    <li class="accordion__item">
                        <input type="checkbox" class="accordion__toggle" id="toggle-updates" />
                        <label class="accordion__trigger" for="toggle-updates"><span class="card-header">Audit trail</span></label>
                        <div class="accordion__target">
                          <table id="updates">
                              {{#updates}}
                              <tr id="{{_id}}">
                                  <td><span class="nowrap">{{onDate}}</span> {{onTime}}</td>
                                  <td>@{{by}}</td>
                                  <td>{{description}}</td>
                              </tr>
                              {{/updates}}
                          </table>
                        </div>
                    </li>
                </ul>
                <li>
                  <span class="card-header">Archive</span>

                  <form method="post" class="pure-form pure-form-aligned">
                      <div class="pure-control-group">
                          {{#checked archived}}
                          <input type="radio" name="archived" id="archived-n" value="n"> <label for="archived-n">Active</label>
                          <input type="radio" name="archived" id="archived-y" value="y"> <label for="archived-y">Archived</label>
                          {{/checked}}
                      </div>
                  </form>

                  {{#if otherReports}}
                  <p>Other reports by {{by}}:</p>
                  <table>
                      {{#otherReports}}
                      <tr>
                          <td></td>
                          <td><a href="/reports/{{_id}}">{{reported}}</a></td>
                          <td>{{name}}</td>
                          <td>{{summary}}</td>
                      </tr>
                      {{/otherReports}}
                  </table>
                  {{/if}}
                </li>
            </ul>
        </div>
    </div>
</main>

</body>
</html>
