<!doctype html>
<html lang="en">
<head>
    <title>Rape crisis resources | The Whistle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        form { margin: 0; }
        td, th { min-width: 1em; }
        button.fa-trash { background: none; border: none; color: #990000; padding: 1px; }
        button.fa-trash:hover { cursor: pointer; }
        #map { margin-top: 4em; height: 400px; width: 100%; }
        td { border-top: 1px solid #cccccc; }
        .phone-valid { }
        .phone-invalid { color: #999999; }
        .email-valid { }
        .email-invalid { color: #999999; }
    </style>
    <script src="//maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAZTZ78oNn4Y9sFZ1gIWfAsaqVNGav5DGw" defer></script>
    <script>
        'use strict';
        document.addEventListener('DOMContentLoaded', function() {

            // show/hide delete button on hover over resource tr
            document.querySelectorAll('tr.resource').forEach(tr => tr.onmouseenter = async function showDeleteButton() {
                this.querySelector('button').classList.remove('hide');
                this.querySelector('a.fa-pencil').classList.remove('hide');
            });
            document.querySelectorAll('tr.resource').forEach(tr => tr.onmouseleave = async function hideDeleteButton() {
                this.querySelector('button').classList.add('hide');
                this.querySelector('a.fa-pencil').classList.add('hide');
            });

            // report deletion confirmation pop-up
            document.querySelectorAll('form.delete').forEach(form => form.onsubmit = function confirmDelete() {
                return confirm('Are you sure you want to delete this resource?');
            });

            // filter
            document.querySelector('select').onchange = function submitFilter() {
                if (this.form.category.value == '') { // remove query string entirely
                    window.location = window.location.href.replace(location.search, '');
                    return;
                }
                this.form.submit();
            };

        });
    </script>
    <script>
        'use strict';
        const resources = [
            {{#resourceLocns}}
            { resourceId: '{{_id}}', lat: {{lat}}, lng: {{lon}}, name: '{{name}}' },
            {{/resourceLocns}}
        ];
        function initMap() {

            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20,
                center: { lat: 0, lng: 0 }
            });

            const markers = resources.map(function(resource, i) {
                const m = new google.maps.Marker({
                    position: resource,
                    icon:     '/map-marker/red/100',
                    label:    resource.name,
                    map:      map,
                });
                return m;
            });
            const bounds = new google.maps.LatLngBounds();
            for (const m of markers) bounds.extend(m.getPosition());
            map.initialZoom = true;
            map.fitBounds(bounds);
        }

    </script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107905163-1" async></script>
    <script src="/js/admin/ga.js" async></script>
</head>
<body>

<header>

{{>navpartial}}

</header>

<main>

<h1>Rape crisis resources</h1>

{{>errpartial}}

<form>Filter category:
    <select name="category">
        {{#selected filter.category}}
        <option></option>
        {{#categories}}
        <option value="{{this}}">{{this}}</option>
        {{/categories}}
        {{/selected}}
    </select>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone(s)</th>
        <th>Email(s)</th>
        <th>Website</th>
        <th>Services</th>
        <th>Category</th>
        <th></th>
        <th><a href="/resources/add" title="Add new resource" class="fa fa-plus primary-blue"></a></th>
    </tr>
    {{#resources}}
    <tr id="{{_id}}" class="resource">
        <td>{{name}}</td>
        <td>{{#if location}}<a href="https://maps.google.com/maps/search/{{address}}" target="_blank">{{address}}</a>{{else}}{{address}}{{/if}}</td>
        <td>{{{phone}}}</td>
        <td>{{{email}}}</td>
        <td>{{{website}}}</td>
        <td>{{services}}</td>
        <td>{{category}}</td>
        <td><a href="/resources/{{_id}}/edit" title="Edit resource" class="fa fa-pencil grey hide"></a></td>
        <td><form action="/resources/{{_id}}/delete" method="post" class="delete"><button name="delete" value="{{_id}}" title="Delete resource" class="fa fa-trash hide"></button></form></td>
    </tr>
    {{/resources}}
</table>

<div id="map"></div>

</main>

</body>
</html>
