<!doctype html>
<html lang="en">
<head>
    <title>Add User | The Whistle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107905163-1" async></script>
    <script src="/js/admin/ga.js" async></script>
</head>
<body>

<header>

{{>navpartial}}

</header>

<main>

<h1>Add User</h1>

{{>errpartial}}

<form method="post" class="pure-form pure-form-aligned">
    <ul>
        <li class="pure-control-group">
            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname" value="{{firstname}}" required autofocus class="w12">
        </li>
        <li class="pure-control-group">
            <label for="lastname">Last name</label>
            <input type="text" name="lastname" id="lastname" value="{{lastname}}" required class="w12">
        </li>
        <li class="pure-control-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" value="{{email}}" required class="w16">
        </li>
        <li class="pure-control-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="{{username}}" required pattern="[a-zA-Z][a-zA-Z0-9-]*" class="w8">
            <span class="pure-form-message">Username must comprise alphanumerics and hyphens</span>
        </li>
        <li class="pure-control-group">
            {{#checked roles}}
            <label>Roles</label>
            <input type="checkbox" name="roles" id="roles-admin" value="admin"> <label for="roles-admin">Admin</label>
            <input type="checkbox" name="roles" id="roles-user" value="user"> <label for="roles-user">User</label>
            <input type="checkbox" name="roles" id="roles-reporter" value="reporter"> <label for="roles-reporter">Reporter</label>
            <input type="checkbox" name="roles" id="roles-su" value="su" class="{{isSuUser}}"> <label for="roles-su" class="{{isSuUser}}">SU</label>
            {{/checked}}
        </li>
        <li class="pure-control-group {{isSuUser}}">
            {{#checked databases}}
            <label>Organisations<br><span class="small grey">only avail. to s/u</span></label>
            {{#availableDatabases}}
            <input type="checkbox" name="databases" id="databases-{{this}}" value="{{this}}"> <label for="databases-{{this}}">{{this}}</label>
            {{/availableDatabases}}
            {{/checked}}
        </li>
        <li class="pure-control-group">
            <label></label>
            <button type="submit" class="pure-button pure-button-primary">Add user</button>
        </li>
    </ul>
</form>

</main>

</body>
</html>
