<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>The Whistle New User</title>
</head>
<body>

    <p>Dear {{firstname}},</p>

    <p>You have been set up as a user for The Whistle.</p>

    <p>In order to log in to The Whistle, you will first have to set a password. To do this, please
        click on <a href="http://{{host}}/password/reset/{{token}}">this link</a> which will take
        you to an authenticated reset password page.</p>

    <p>If clicking on the link does not work, please visit http://{{host}}/password/reset/{{token}}
        in your browser.</p>

    <p>This password reset link will be valid for 24 hours. If it has expired before you are able to
        use it, please visit
        <a href="http://admin.thewhistle.org/password/reset-request">admin.thewhistle.org/password/reset-request</a>
        to request a fresh reset token.</p>

    <p>If you did not expect to be set up as a user on The Whistle, please ignore this e-mail.</p>

</body>
</html>
