<!doctype html>
<html lang="en">
<head>
    <title>The Whistle / Global Rights Nigeria Incident Report | Submit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
    </style>
    <script defer src="/js/report.js"></script>
</head>
<body>

<header>

{{>navpartial}}

</header>

<main>

<h1>Review &amp Submit</h1>

<h2>Reporter</h2>
@{{reporter}}

<h2>Report</h2>
{{{reportHtml}}}

<h2>Geocoding <a href="https://maps.google.com/maps/search/{{formattedAddress}}" class="fa fa-globe"></a></h2>
{{{geocodeHtml}}}

{{#if files}}
<h2>File(s)</h2>
{{files}}
{{/if}}

<form method="post" class="pure-form pure-form-aligned">
    <ul>
        <li class="pure-control-group">
            <button type="submit" name="nav-prev" value="prev" accesskey="p" class="nav prev">⇐ <u>P</u>revious</button>
            <button type="submit" name="submit" value="submit" accesskey="s" class="pure-button pure-button-primary float-right"><u>S</u>ubmit report</button>
        </li>
    </ul>
</form>

</main>

</body>
</html>
